

.main_bg{
	-fx-background-color:#F4F4F4;
}

.bg_radius{
	-fx-background-radius: 8px;
}

.bg_shadow{
	-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 5,0,0,1);
}

.transparent_bg{
	-fx-background-color:transparent;
}


/* card colors */
.bg_color{
	-fx-background-color: linear-gradient(#53093A, #901868);
}

/* button classes */
.button_color{
	-fx-background-color:#98106C;
}
.hover_button:hover  {
  	-fx-background-color: linear-gradient(#53093A, #901868);
}
.red_button{
	 -fx-background-color:#B00000
}
.hover_red:hover{
	 -fx-background-color: linear-gradient(#710000, #BF0000)
}
.green_button{
	 -fx-background-color: #0E861B
}
.hover_green:hover{
	 -fx-background-color: linear-gradient(#004100, #0E861B)
}
.svgbutton:hover{
	-fx-fill: #54093B; 
}
.oval_btn{
	-fx-background-radius: 10, 10, 10, 10;
	-fx-background-color:#98106C;
}


.text-field {  
  -fx-text-box-border: #98116D;
  -fx-background-radius: 10, 10, 10, 10;
  -fx-focus-color: #98116D;
}




/* table modification */
.table-view {
    -fx-background-color: transparent;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}


.table-view .column-header, .filter{
	-fx-background-color:transparent;
	-fx-size: 40px;
}
.table-view .column-header-background .filler {
    -fx-background-color: transparent;
}


.table-view .column-header-background {
	-fx-background-color:#98106C;
}
.table-view .column-header .label {
	-fx-text-fill:white;
} 

.table-column {
  -fx-alignment: CENTER;
  -fx-font-size: 15px;
}
.table-view .column-header .arrow {
    -fx-background-color: white; /* Change the color of the arrows to red */
}

/** color the scroll bar background and thumb */
.table-view .scroll-bar {
    -fx-background-color: white;
}
.table-view .virtual-flow .scroll-bar .increment-button,
.table-view .virtual-flow .scroll-bar .decrement-button {
    -fx-background-color: transparent;
}

.table-view .virtual-flow .scroll-bar:vertical .thumb{
    -fx-background-color:  linear-gradient(to bottom, #53093A, #901868);
}
.table-view .virtual-flow .scroll-bar:horizontal .thumb {
    -fx-background-color:  linear-gradient(to right, #53093A, #901868);
}










    
