


.button{
	-fx-background-color: transparent;
	-fx-text-fill: white;
	-fx-text-alignment:left;
}
.button:focused{
    -fx-background-color: white;
    -fx-text-fill: #54093B; 
}
.button:focused .glyph-icon {
    -fx-fill: #54093B; /* Change the color to red when hovering */
}

.button:hover { /* hover effect for all button */  
      -fx-background-color: white;
      -fx-text-fill: #54093B;
}
.button:hover .glyph-icon {
    -fx-fill: #54093B; /* Change the color to red when hovering */
}

/* changes the color of the icon based on the downloaded png */
#hk_button{
	-fx-graphic: url(../images/white_hk_icon.png);
	-fx-graphic-text-gap: 15px;  /*Adjust the space between graphic and text */		
}
#hk_button:hover{
	-fx-graphic: url(../images/purple%20hk%20icon.png);
}
#hk_button:focused{
	-fx-graphic: url(../images/purple%20hk%20icon.png);
}

/* changes the color of the icon based on the downloaded svg */
.button:hover #transact_icon {
    /* Change the fill color of the SVG icon when the button is hovered */
    -fx-fill: #54093B; 
}

.button:hover #transact_icon {
    /* Change the fill color of the SVG icon when the button is hovered */
    -fx-fill: #54093B; 
}
.button:focused #transact_icon {
    -fx-fill: #54093B; 
}
#transact_btn{
	-fx-padding: 0px 52px; /* 0 is for top and bottom while 52 is for left and right padding */
	-fx-graphic-text-gap:25px;
}








    
