/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

/* TextField customization */ 
.text-field {  
  -fx-text-box-border: #98116D;
  -fx-background-radius: 10, 10, 10, 10;
  -fx-focus-color: #98116D;
}

/* ComboBox customization */
.combo-box{
	-fx-background-color: transparent;
}

/* Button customization */
.button { 
    -fx-background-radius: 10, 10, 10, 10; 
    -fx-background-color: linear-gradient(#970265, #BB3A7F);
}

.button:hover { /* hover effect for all button */
      -fx-background-color:linear-gradient(#6C0045, #B90079);
}

#link { /* black, underlined, sign up and log in button */
    -fx-background-color: transparent;
}

/* DatePicker customization */
.date-picker{
	-fx-background-color: #BB3A7F;
	-fx-border-radius:10;
}
.date-picker .text-field {
    -fx-font-family: "Microsoft Sans Serif"; /* Set font family */
    -fx-font-size: 15px; /* Set font size */
}
.date-picker .arrow-button {
	-fx-background-color: #BB3A7F;
}
.date-picker .arrow-button .arrow { /* white calendar icon */
	-fx-background-color: white;
}
.date-picker-popup .month-year-pane {
	-fx-background-color: #BB3A7F;
}
.date-picker-popup .month-year-pane .label { /* changes the font color of month and year */
	-fx-text-fill: white;
}	
.date-picker .cell:hover { /* changes the color when hovered on date in datepicker */
	-fx-background-color: #BB3A7F;
}
.date-picker .date-cell:hover {
    -fx-text-fill: white; 
}
.date-picker .selected {
	-fx-background-color: #BB3A7F;
	-fx-text-fill: white;
}
.date-picker .selected:focused {
	-fx-background-color: #BB3A7F;
	-fx-text-fill: white;
}
.date-picker-popup .spinner .button .left-arrow,
.date-picker-popup .spinner .button .right-arrow {
	-fx-background-color: white;
}
   


