

.main_bg{
	-fx-background-color:#F4F4F4;
}

.img_bg{
	-fx-background-color:transparent;
	-fx-border-radius: 8px;
	-fx-border-color: #53093a;
}


.textfield{
	-fx-background-color: transparent;
	-fx-border-color: #53093a;
	-fx-border-width: 0px 0px .8px 0px;
	-fx-font-size: 13px;
}

.textfield:focused{
	-fx-border-width: 0px 0px 1.5px 0px;
}

.text-area{
	-fx-background-color: transparent;
	-fx-border-color: #53093a;
	-fx-border-width: 1.3px;
	-fx-border-radius: 7px;
	-fx-font-size: 13px;
}


.combo-box{
	-fx-background-color: transparent;
	-fx-border-color:#53093a;
    -fx-border-style:solid;
    -fx-border-width: 0px 0px 1px 0px;
    
}

.combo-box .list-cell:hover{
	-fx-background-color:#98106C;
	-fx-text-fill: white;
}

/* button classes */
.button{
	-fx-background-color:#98106C;
}
.button:hover  {
  	-fx-background-color: linear-gradient(#53093A, #901868);
}




    
